/* You can add global styles to this file, and also import other style files */
@import 'custom-theme';

body {
  margin-top: 75px;
  font-family: 'Roboto', sans-serif;
}

.primary-text-color {
  color: #009688;
}

.full-width {
  width: 100%;
}
