<h1 class="primary-text-color">{{quiz.title}}</h1>

<div fxLayout="row"></div>

<div fxLayout="column"></div>
<mat-card style="width: 80%;" *ngFor="let question of quiz.questions; let i=index">
  <mat-card-header>
    <mat-card-title>{{i + 1}}. {{ question.challenge }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-radio-group fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
      <mat-radio-button [value]="choice.flag" style="margin-left: 50px;" *ngFor="let choice of question.choices">
        {{choice.a}}
      </mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
  <button color="primary" [routerLink]="['/presentations/', quiz.id]" mat-button>Return To Presentation</button>
</mat-card>

