.container {
  margin: 0 auto;
}

.mat-card {
  margin-top: 20px;
}

.mat-card-content { margin-left: 50px; }

button.submit-quiz-btn {
  margin: 20px 0;
  width: 250px;
}

.back-to-prez-btn {
  font-size: 12px;
}

.mat-form-field-invalid .mat-radio-label-content {
    color:#f44336;
}
.mat-form-field-invalid .mat-radio-outer-circle {
    border-color:#f44336!important;
}
